<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Campaigns</h5>
                    <table class="table">
                            <thead>
                                <tr>
                                    <th>Campaign</th>
                                    <th>Coordinator</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of campaigns">
                                    <td>{{ c.Name }}</td>
                                    <td>{{ c.Coordinator }}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>        
        </div>
    </div>
