<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Opportunity</h5>
                <accounts-list [selectedAccount]="account"></accounts-list>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary">Previous</button>
                <button type="button" class="btn btn-outline-primary float-right">Next</button>
            </div>
        </div>
    </div>
</div>